body{
  /*background-color: rgb(51, 51, 51);*/
  background: #242438;
  height: 95vh;
}

.footer {
  /*position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;*/
  position: absolute;
width: 100%;
bottom: 0;
height: 100px;
background: #3C3C74;

border-top: 5px solid #000000;
}

.logo-3-4{
  height: 145px;
  margin-left: 75px;
  margin-top: 40px;
  object-fit: cover;
  width: 134px;
  float: left;
}

.header-div{

}

.wallet-selection{
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 60px;
  margin-right: 75px;
}


.discord{
  position: absolute;
  left: 51.67%;
  right: 45.47%;
  top: 22%;
  bottom: 2.13%;
}

.twitter{
  position: absolute;
  left: 45.94%;
  right: 51.2%;
  top: 22%;
  bottom: 2.13%;
}

