body{
  /*background-color: rgb(51, 51, 51);*/
  background: #242438;
  height: 95vh;
}

.footer {

position: absolute;
width: 100%;
bottom: 0;
height: 100px;
background: #3C3C74;
text-align: center;


border-top: 5px solid #000000;
margin-top: 200px;
}


.logo-3-4{
  height: 145px;
  margin-left: 75px;
  margin-top: 40px;
  object-fit: cover;
  width: 134px;


}

.wallet-selection{
  margin-top: 60px;
  margin-right: 75px;
  position:absolute;
  top:0;
  right:0;

}

.discord{
  text-align: center;
  display:  inline-block;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;

}

.twitter{
  text-align: center;
  display:  inline-block;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.slideris{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 444px;

  position: relative;
  width: 720px;

  border-radius: 25px;
  align-self: center;
  width: 714px;
  height: 338px;
  
  background: #837d7d;
  border: 3px solid #000000;
}

.slider-itself{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.box{
  position: relative;
  width: auto;
}

  .information-1{
    height: 50px;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
  }
  
  .information-2{
  text-align: center;
  height: 100px;

  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #FFFFFF;
  }

  .connect-wallet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 25px;

    width: 400px;
    height: 200px;
    
    background: #837d7d;
    border: 3px solid #000000;

  }


  .connect-wallet-information{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    overflow: hidden; 
    text-align: center;
    margin-top: 80px;

  }

  .connect-wallet-container{
    display: flex;
  }
  
  .cost{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 42.5vh;
    
  }

  .payment{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 444px;
  
    position: relative;
    width: 720px;
  
    border-radius: 25px;
    align-self: center;
    width: 714px;
    height: 338px;
    
    background: #837d7d;
    border: 3px solid #000000;
  }


    .information-reserved-1{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      
      color: #FFFFFF;
      overflow: hidden; 
      text-align: center;
      margin-top: 30px;
    }
    
    .information-reserved-2{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      
      color: #FFFFFF;
      overflow: hidden; 
      text-align: center;
      margin-top: 30px;
    }


    .not-whitelisted{
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      border-radius: 25px;
  
      width: 400px;
      height: 200px;
      
      background: #837d7d;
      border: 3px solid #000000;
  
    }
  
  
    .not-whitelisted-information{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      
      color: #FFFFFF;
      overflow: hidden; 
      text-align: center;
      margin-top: 80px;
  
    }
  
    .not-whitelisted-container{
      display: flex;
    }

    .wallet-button{
      display: inline-block;

      padding: 0;
      margin: 0;
      vertical-align: top;
      background: #837d7d;
      border: none;
    }
    .wallets{
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    .loader-for-tx{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 12.5vh;
      
    }

    .information-submitted{
      text-align: center;
      height: 100px;
    
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 40px;
      
      color: #FFFFFF;
    }
    .information-submitted-2{
      text-align: center;
      height: 100px;
    
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 40px;
      
      color: #FFFFFF;
      margin-top: 150px;
    }