body{
  /*background-color: rgb(51, 51, 51);*/
  background: #242438;
  height: 95vh;
}

.footer {
  /*position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;*/
  position: relative;
width: 100%;
bottom: 0;
height: 110px;
background: #3C3C74;

border-top: 5px solid #000000;
}


.logo-3-4{
  height: 145px;
  margin-left: 75px;
  margin-top: 40px;
  object-fit: cover;
  width: 134px;


}

.wallet-selection{
  margin-top: 60px;
  margin-right: 75px;
  position:absolute;
  top:0;
  right:0;

}


.discord{
  position: absolute;
  left: 52.5%;
  top: 22%;
  bottom: 2.13%;
}

.twitter{
  position: absolute;
  left: 47.5%;
  top: 22%;
  bottom: 2.13%;
}

.slideris{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 444px;
  position: relative;
  width: 700px;
}
.slider-container{
  display: flex;
}

.slider-itself{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box{
  position: relative;
  width: auto;
}

.frame-1{
  border-radius: 25px;
  align-self: center;
  position: static;
  width: 714px;
  height: 438px;
  
  background: #837d7d;
  border: 3px solid #000000;
  }

  .rectangle-2{
  border-radius: 25px;
  position: absolute;
  width: 639px;
  height: 55px;
  left: 38px;
  top: 22px;
  
  background: #272727;
  border: 3px solid #000000;
  }

  .supported-wallets{
  position: absolute;
  width: 595px;
  height: 30px;
  left: 80px;
  top: 15px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  
  color: #FFFFFF;
  }

  .information-1{
    position: absolute;
    width: 418px;
    height: 54px;
    left: 59px;
    top: 123px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
  }
  
  .information-2{
    position: absolute;
  width: 633px;
  height: 98px;
  left: 59px;
  top: 177px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #FFFFFF;
  }

  .connect-wallet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

  }

  .connect-wallet-frame{
    border-radius: 25px;

    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background: #837d7d;
    border: 3px solid #000000;
  }

  .connect-wallet-information{
    position: absolute;
    width: 400px;
    height: 54px;
    left: 59px;
    top: 50px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-self: center;
    
    color: #FFFFFF;
  }

  .connect-wallet-container{
    display: flex;
  }
  